.create-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-container input,
.create-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.create-container button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}